.comp_output {
    /*border: solid; 
    background-color: lightgrey; */
    margin-top: 1em;
}

.cb_details_output{    
    /*background-color: azure; */    
}

.my-footer{
    margin-top: 2em;
    margin-bottom: none;
    position: fixed;
    bottom : 0;
    width: 100%;
}

.abd{    
    margin-top: 1em;
    margin-bottom: 1em;
}

#header{
    margin-top: 3em;
    margin-bottom: 1em;
}

#accounts_output{
    
    margin-bottom: 3em;
}